<div class="container mt-5">
  <hr class="my-4" />
  <div class="row">
    <div class="container mt-3">

      <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
        <div class="spinner" role="status">
          <div class="spinner1"></div>
        </div>
      </div>

      <ng-container *ngIf="!isLoading">
        <div class="row justify-content-center">
          <div #buscadorWrapper>
            <app-buscador (filtersChanged)="onFiltersChanged($event)" class="z-index-100"></app-buscador>
          </div>
        </div>

        <div class="row justify-content-center g-4 mt-1 mb-4">
          <div class="col-auto" *ngFor="let iniciativa of iniciativasFiltradas; let i = index" #cardIniciativa>
             <app-card-iniciativa [iniciativa]="iniciativa"></app-card-iniciativa>
          </div>
        </div>

        <div *ngIf="iniciativasFiltradas.length === 0" class="mb-4 alert alert-warning" role="alert">
          No se encontraron iniciativas con los filtros aplicados.
        </div>
      </ng-container>
    </div>
  </div>

  <app-modal-iniciativa></app-modal-iniciativa>
</div>
