.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaciado igual entre cada item */
  }
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos del hover */
  .nav-link {
    position: relative; /* Necesario para que la línea se ubique correctamente */
    padding-bottom: 5px; /* Espacio para la línea debajo */
    color: black; /* Color de texto inicial */
    text-decoration: none; /* Eliminar subrayado por defecto */
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    &.formSelected {
        background-color: #007bff; // Fondo azul para el tab activo
        color: white !important; // Texto blanco para el tab activo
      }
    
      &.text-muted {
        color: #6c757d !important; // Texto gris para tabs deshabilitados
      }
    
      &.text-dark {
        color: #000 !important; // Texto negro para tabs habilitados no seleccionados
      }
    
      &.disabled {
        pointer-events: none; // Deshabilitar clic en tabs no habilitados
        opacity: 0.6; // Reducir opacidad para tabs deshabilitados
      }
  }

  /* Línea animada debajo de cada enlace */
  .nav-link::after {
    content: ''; /* Necesario para mostrar la línea */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Altura de la línea */
    background-color: blue; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente la línea está oculta */
    transform-origin: bottom right; /* La línea se expandirá desde la derecha */
    transition: transform 0.3s ease-out; /* Animación suave */
  }

  /* Cambios en hover */
  .nav-link:hover::after {
    transform: scaleX(1); /* Muestra la línea cuando se pasa el ratón */
    transform-origin: bottom left; /* La línea se expandirá desde la izquierda */
  }

  .nav-link:hover {
    color: blue; /* Cambiar color del texto a azul */
    background-color: rgba(0, 0, 255, 0.2); /* Fondo azul muy sutil */
    border-radius: 30px; /* Hacer que el fondo sea ovalado */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3); /* Sombra sutil azul */
  }
  .formSelected {
    color: blue; /* Cambiar color del texto a azul */
    background-color: rgba(0, 0, 255, 0.2); /* Fondo azul muy sutil */
    border-radius: 30px; /* Hacer que el fondo sea ovalado */
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.3); /* Sombra sutil azul */
  }