<footer class="footer-card text-white">
  <section class="p-4">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <!-- Cuatrovientos -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Centro Integrado Cuatrovientos</h6>
          <hr class="footer-hr" />
          <p>
            El Centro Integrado Cuatrovientos es un centro educativo de Formación 
            Profesional en Navarra, comprometido con la innovación y la excelencia.
          </p>
        </div>

        <!-- Secciones -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Secciones</h6>
          <hr class="footer-hr" />
          <p><a href="#!" class="footer-link">Iniciativas</a></p>
          <p><a href="#!" class="footer-link">Modificar</a></p>
          <p><a href="#!" class="footer-link">Indicadores</a></p>
          <p><a href="#!" class="footer-link">Entidades</a></p>
        </div>

        <!-- Enlaces -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Enlaces de Interés</h6>
          <hr class="footer-hr" />
          <p><a href="#!" class="footer-link">Agenda 2030</a></p>
          <p><a href="#!" class="footer-link">ODS</a></p>
          <p><a href="#!" class="footer-link">Metas</a></p>
        </div>

        <!-- Mapa -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Ubicación</h6>
          <hr class="footer-hr" />
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.1486413406565!2d-1.6624290243886053!3d42.82428680564762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5092855cefdac7%3A0xab7c62765f5209e2!2sCuatrovientos%20Centro%20Integrado!5e1!3m2!1ses!2ses!4v1745911500914!5m2!1ses!2ses"
            width="100%" height="200" style="border:0; border-radius: 12px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-bottom text-center p-3">
    Aplicación realizada por: Karla, Luismi, Xabier y Aitor.
  </div>
</footer>
