<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Mapa de Google Maps -->
        <div class="col-md-6 pt-3">
          <div class="mapa-container pb-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.2996920655405!2d-1.662429024004725!3d42.824282871153486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5092855cefdac7%3A0xab7c62765f5209e2!2sCuatrovientos%20Centro%20Integrado!5e0!3m2!1ses!2ses!4v1740401764392!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
  
        <!-- Información de contacto y iconos -->
        <div class="col-md-6 pt-5">
          <div class="contacto-container pb-2 text-center">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li><strong>Dirección:</strong> Calle Ficticia, 123, Ciudad Ejemplo</li>
              <li><strong>Teléfono:</strong> (123) 456-7890</li>
              <li><strong>Email:</strong> contacto.com</li>
            </ul>
            <!-- Iconos debajo de la información de contacto -->
            <div class="d-flex justify-content-center gap-3 pt-3">
              <a href="#" class="text-dark"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="#" class="text-dark"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  