<footer class="footer text-white">
  <div class="container">
    <div class="row">
      <hr/>
      <!-- Mapa de Google Maps -->
      <div class="col-md-6 pt-3">
        <div class="mapa-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.2996920655405!2d-1.662429024004725!3d42.824282871153486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5092855cefdac7%3A0xab7c62765f5209e2!2sCuatrovientos%20Centro%20Integrado!5e0!3m2!1ses!2ses!4v1740401764392!5m2!1ses!2ses"
            width="400" height="300" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

      <!-- Información de contacto -->
      <div class="col-md-6 ">
        <div class="contacto-container text-center mt-5- ">
          <div class="info-container">
            <div class="info-section">
              <h6>SECRETARÍA</h6>
              <ul class="list-unstyled">
                <li><strong>Tel.:</strong> 948 12 41 29</li>
                <li><strong>Email:</strong> secretaria&#64;cuatrovientos.org</li>
                <li><strong>Horario Curso Escolar:</strong></li>
                <ul class="list-unstyled">
                  <li>Lunes a viernes: 9:00 – 14:00 h.</li>
                  <li>Martes: 15:30 – 18:00 h.</li>
                </ul>
                <li><strong>Verano (15 junio - 15 septiembre):</strong></li>
                <ul class="list-unstyled">
                  <li>Lunes a viernes: 9:00 – 13:30 h.</li>
                </ul>
              </ul>
            </div>

            <div class="info-section">
              <h6>CENTRO INTEGRADO CUATROVIENTOS</h6>
              <ul class="list-unstyled">
                <li><strong>Tel.:</strong> 948 12 41 29</li>
                <li><strong>Email:</strong> info&#64;cuatrovientos.org</li>
              </ul>
              <div class="d-flex justify-content-center gap-3 pt-3">
                <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Fuente para los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">