.custom-navbar {
  z-index: 9999;
  background: rgba(70, 70, 73, 0.5);
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 15px;
}

.navbar-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-link {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease;
  color: #ffffff;
  text-decoration: none;
}

.custom-link.active-tab {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(42, 82, 152, 0.3);
}

.custom-link:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #4da8ff !important;
}


.logout-btn {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #2a5298, #1e3c72);
}

.login-icon {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-icon:hover {
  color: #2a5298;
}

.logo-white {
  height: 32px;
}
