<nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
  <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap gap-3">
    <div class="capsule">
      <a class="navbar-brand d-flex align-items-center" (click)="goTo('/')">
        <img src="img/logo4V.png" alt="Cuatrovientos" height="32" class="logo-white" />
      </a>
    </div>

    <div class="capsule navbar-center d-none d-lg-flex flex-wrap justify-content-center">
      <ul class="navbar-nav flex-row gap-3 m-0">
        <li class="nav-item">
          <a class="nav-link custom-link" (click)="goTo('/') "[ngClass]="{'active-tab': currentRoute === '/'}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" (click)="goTo('/Iniciativas') "[ngClass]="{'active-tab': currentRoute === '/Iniciativas'}">Iniciativas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" (click)="goTo('/Modificar') "[ngClass]="{'active-tab': currentRoute === '/Modificar'}">Modificar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" (click)="goTo('/indicadores') "[ngClass]="{'active-tab': currentRoute === '/indicadores'}">Indicadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" (click)="goTo('/AdministradorEntidades') "[ngClass]="{'active-tab': currentRoute === '/AdministradorEntidades'}">Entidades</a>
        </li>
      </ul>
    </div>

    <div class="capsule d-flex align-items-center">
      @if (isLogged) {
        <button type="button" class="logout-btn" (click)="logOut()">Cerrar Sesión</button>
      }@else {
        <a href="./LogIn" class="login-icon">
          <i class="bi bi-person fs-4"></i>
        </a>
      }
    </div>
  </div>
</nav>