<div class="row g-3 p-4">
    <!-- Columna para los inputs -->
    <div class="col-8">
        <div class="row">
            <!-- Fila 1 con dos inputs -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Iniciativa</label>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Iniciativa</label>
                    <input type="text" class="form-control" placeholder="Número de Meta">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- Fila 2 con dos inputs -->
                <div class="col-md-12">
                    <div class="mb-3">
                        <label>Iniciativa</label>
                        <input type="text" class="form-control" placeholder="Acción">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label>Iniciativa</label>
                        <input type="text" class="form-control" placeholder="Producto Final">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Iniciativa</label>
                <textarea type="text" class="form-control" placeholder="Todas las Metas Ordenadas" rows="4"></textarea>
            </div>
        </div>
        <div class="row">
            <!-- Fila 3 con un input -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Iniciativa</label>
                    <input type="text" class="form-control" placeholder="Fecha Inicio">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Iniciativa</label>
                    <input type="text" class="form-control" placeholder="Fecha Final">
                </div>
            </div>
        </div>
    </div>

    <!-- Columna para el textarea "Todas las Metas Ordenadas" -->
    <div class="col-4 d-flex flex-column">
        <label>Iniciativa</label>
        <textarea type="text" class="form-control" placeholder="Todas las Metas Ordenadas" rows="11"></textarea>
    </div>
</div>