
<div class="card-container improved-card" (click)="openIniciativa()">
      <div class="text-content text-center">
    <span class="badge bg-secondary">{{ iniciativa.tipo }}</span>
    <h1>{{ iniciativa.nombre }}</h1>
  </div>
  <img [src]="iniciativa.imagen || 'https://via.placeholder.com/150'" alt="{{ iniciativa.nombre }}" class="card-img" />
  <div class="description">
    <p>
      📅 Fecha de inicio: {{ iniciativa.fecha_inicio | date: 'dd/MM/yyyy' }} <br />
      📅 Fecha de fin: {{ iniciativa.fecha_fin | date: 'dd/MM/yyyy' }}
    </p>
  </div>
</div>