
.card-header, .modal-header{
    background-color: #393d92 !important;
}

.custom-table {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;

    .row {
        padding: 0.75rem 1rem;
        transition: all 0.3s ease;
    }

    .hover-row:hover {
        background-color: #f3e8ff; // Lila claro
        box-shadow: 0 2px 8px rgba(128, 0, 128, 0.2); // Sombra suave morada
        transform: translateY(-2px); // Leve elevación
        cursor: pointer;
    }
}
.icon-dark-blue {
    color: #0d3b66; // Azul oscuro
}
:host ::ng-deep .custom-table-box {
    border: 1px solid #cce5ff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.1);
    overflow: hidden;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

:host ::ng-deep .custom-table-header {
    background: linear-gradient(to right, #586a7e, #103255);
    color: white;
}

:host ::ng-deep .custom-table-row:nth-child(odd) {
    background-color: #fbfcfd;
}

:host ::ng-deep .custom-table-row:nth-child(even) {
    background-color: #e4e2fa;
}

:host ::ng-deep .custom-table-row:hover {
    background-color: #cbc2fc;
    cursor: pointer;
}
.bg-primary-subtle {
    background-color: #122d48 !important;
}

.custom-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;

  .custom-card-header {
    background: linear-gradient(135deg, #2a5298, #1e3c72);
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    .custom-card-title {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .custom-card-body {
    padding: 1.5rem;
  }
}

.custom-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  canvas {
    max-width: 500px;
    width: 60%;
  }
}


.custom-table-container {
  border-radius: 12px;
  overflow: hidden;
}

.custom-table-header {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.08);
  padding: 0.75rem 1rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: #ffffff;

  .header-col {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.custom-table-row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.03);
  }

  .row-col {
    flex: 1;
    display: flex;
    align-items: center;
    color: #ddd;

    i {
      font-size: 1.1rem;
    }

    span, strong {
      font-size: 0.95rem;
    }
  }
}
