/* Fondo con degradado */
.modal-background {
    background: linear-gradient(to right, #dcd7e0, #f0f0f0);
    padding: 20px;
    border-radius: 10px;
}

/* Estilos del modal */
.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
}

/* Encabezado del modal */
.modal-header {
    background: none;
    border-bottom: none;
}

/* Imagen dentro del modal */
.modal-img {
    max-width: 200px;
    border-radius: 10px;
}

/* Estilos de los badges */
.badge {
    font-size: 14px;
    padding: 8px;
}

/* Footer del modal */
.modal-footer {
    background: none;
    border-top: none;
    text-align: right;
}
.bg-blue {
    background-color:#393d92 !important;
    color: white;
}
.bg-blue-light {
    background-color:#9ea1e4 !important;
    color: white;
}


// Color lila personalizado
$tab-color: #393d92; // Puedes cambiar este color si prefieres otro tono de lila

// Estilos generales para los tabs
.nav-tabs .nav-link {
    color:#393d92 !important; // Color de letra negro por defecto
    background-color: #f0eafc; // Fondo gris claro
    border: 1px solid $tab-color; // Borde lila
    transition: all 0.3s ease-in-out;
}

// Cuando el tab está seleccionado (activo)
.nav-tabs .nav-link.active {
    background-color: $tab-color !important; // Fondo lila
    color: white !important; // Texto blanco
    border-color: $tab-color;
}

// Cambia el color al pasar el mouse sobre un tab
.nav-tabs .nav-link:hover {
    background-color: #a7a9df;  // Un lila más claro al hacer hover
    color: white;
}
.text-primary {
    color: #484dab !important;
    
}