#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
  }
  

  #intro-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #logo img {
    width: 150px;
    opacity: 0;
  }
  :host {
  background-color: #1c0f0a; // o el mismo color que el fondo de tu app
  color: white;
  display: block;
  width: 100%;
}

nav {
  background-color: transparent !important; // asegúrate de que el fondo no sea blanco
  color: inherit;
}
