<div class="container ">
  <div class="row g-3 bg-light p-4 rounded shadow-sm">
    <!-- Filtros básicos -->
    <div class="col-md-3">
      <label class="form-label">Nombre de la iniciativa</label>
      <input type="text" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="nombre">
    </div>

    <div class="col-md-3">
      <label class="form-label">Tipo de iniciativa</label>
      <select class="form-select" [(ngModel)]="tipo">
        <option *ngFor="let t of tipoList" [value]="t">{{ t }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">Año Lectivo</label>
      <select class="form-select" [(ngModel)]="anyo_lectivo">
        <option *ngFor="let anio of anioList" [value]="anio">{{ anio }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label">Curso</label>
      <select class="form-select" [(ngModel)]="curso">
        <option *ngFor="let c of cursoList" [value]="c.nombre">{{ c.nombre }}</option>
      </select>
    </div>



    <!-- Filtros avanzados -->
    <div *ngIf="advancedFiltersVisible" class="row g-3 mt-3 justify-content-center">

      <div class="col-md-3">
        <label class="form-label">Dimensión</label>
        <select class="form-select" [(ngModel)]="dimension">
          <option *ngFor="let dim of dimensionList" [value]="dim">{{ dim }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">ODS</label>
        <select class="form-select" [(ngModel)]="ods">
          <option *ngFor="let o of odsList" [value]="o.nombre">{{ o.nombre }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">Fecha de registro</label>
        <input type="date" class="form-control" [(ngModel)]="fechaRegistro">
      </div>
      <div class="col-md-3">
        <label class="form-label">Profesores</label>
        <select class="form-select" [(ngModel)]="profesor">
          <option *ngFor="let prof of profList" [value]="prof.nombre">{{ prof.nombre }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">Contratantes</label>
        <select class="form-select" [(ngModel)]="contratante">
          <option *ngFor="let contr of entidadesList" [value]="contr.nombre">{{ contr.nombre }}</option>
        </select>
      </div>
    </div>

    <!-- Botón para mostrar/ocultar filtros avanzados -->
    <div class="col-12 text-end">
      <button class="btn btn-outline-primary btn-sm" type="button" (click)="toggleAdvancedFilters()">
        {{ advancedFiltersVisible ? 'Mostrar menos filtros' : 'Mostrar más filtros' }}
      </button>
      <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>

    <!-- Botones de acción -->
    <div class="col-md-12 d-flex justify-content-center mt-3">
      <button class="btn btn-blue me-2" (click)="buscar()">Buscar</button>
    </div>
  </div>
</div>