<div class="row g-3 p-4" [formGroup]="actualizar">
    <!-- Columna para los inputs -->
    <div class="col-8">
        <div class="row">
            <!-- Fila 1 con dos inputs -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Iniciativa</label>
                    <select formControlName="seleccion" class="form-select" aria-label="Default select example">
                        <option selected disabled>Titulo Proyecto</option>
                        @for (ini of iniciativas; track $index) {
                        <option value="{{$index}}">{{ini.titulo}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Número de Meta</label>
                    <input formControlName="NMeta" type="text" class="form-control" placeholder="Número de Meta"
                        [value]="iniciativas[actualizar.value.seleccion!].id">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- Fila 2 con dos inputs -->
                <div class="col-md-12">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input formControlName="contratante" type="text" class="form-control" placeholder="Nombre"
                            [value]="iniciativas[actualizar.value.seleccion!].contratante">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label>Acción</label>
                        <input formControlName="titulo" type="text" class="form-control" placeholder="Acción"
                            [value]="iniciativas[actualizar.value.seleccion!].titulo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Todas las Metas Ordenadas</label>
                <textarea formControlName="metas" type="text" class="form-control" placeholder="Todas las Metas Ordenadas"
                    rows="4" [value]="iniciativas[actualizar.value.seleccion!].metas"></textarea>
            </div>
        </div>

        <div class="row">
            <!-- Fila 2 con dos inputs -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Producto Final</label>
                    <input formControlName="producto" type="text" class="form-control" placeholder="Producto Final"
                        [value]="iniciativas[actualizar.value.seleccion!].producto">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Horas</label>
                    <input type="text" class="form-control" placeholder="Horas">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Fila 3 con un input -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Fecha Inicio</label>
                    <input formControlName="fechaInicio" type="text" class="form-control" placeholder="Fecha Inicio"
                        [value]="iniciativas[actualizar.value.seleccion!].fechaInicio">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Fecha Final</label>
                    <input formControlName="fechaFin" type="text" class="form-control" placeholder="Fecha Final"
                        [value]="iniciativas[actualizar.value.seleccion!].fechaFin">
                </div>
            </div>
        </div>
    </div>

    <!-- Columna para el textarea "Todas las Metas Ordenadas" -->
    <div class="col-4 d-flex flex-column">
        <label>Todas las Metas Ordenadas</label>
        <textarea formControlName="modulos" type="text" class="form-control" placeholder="Todas las Metas Ordenadas"
            rows="14" [value]="iniciativas[actualizar.value.seleccion!].modulos"></textarea>
    </div>
    <button class="btn btn-primary" (onclick)="enviarCambios()">Aceptar</button>
</div>