<div *ngIf="loading" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
<form #form="ngForm">

    <div class="row g-3 p-4">
        <app-navbar-form-actualizar (tabChange)="onTabChange($event)"></app-navbar-form-actualizar>
        <div class="mb-3">
            <label>Seleccionar Iniciativa</label>
            <select [(ngModel)]="iniciativa" name="iniciativa" class="form-control"
                (ngModelChange)="onChangeIniciativa($event)">
                <option value="" disabled selected>Selecciona una Iniciativa</option>
                <option *ngFor="let item of iniciativaList" [ngValue]="item">{{ item.id }} - {{ item.nombre }}</option>
            </select>
        </div>
        <div class="col-12">
            <div *ngIf="selectedTab === 'iniciativas'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Tipo del Proyecto</label>
                            <input [(ngModel)]="titulo" name="titulo" type="text" class="form-control"
                                placeholder="Investigación sobre IA" id="tipo">
                        </div>
                        <div class="mb-3">
                            <label>Nombre del Proyecto</label>
                            <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control"
                                placeholder="IA en educación" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Inicio:</label>
                            <input [(ngModel)]="fechaInicio" name="fechaInicio" type="date" id="fecha"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Fin:</label>
                            <input [(ngModel)]="fechaFin" name="fechaFin" type="date" id="fecha" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="horas">Horas</label>
                            <input [(ngModel)]="horas" name="horas" type="number"
                                class="form-control form-control-sm w-auto" placeholder="Horas" id="horas" min="0"
                                step="1" max="999" />
                        </div>
                        <div class="mb-3">
                            <label>Imagen</label>
                            <input [(ngModel)]="imagen" name="imagen" type="text" class="form-control"
                                placeholder="IA en educación" id="imagen">
                        </div>
                        <button class="btn btn-info me-2" type="button" (click)="onImageChange()">Cargar Imagen</button>
                    </div>

                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="producto">Producto Final</label>
                            <textarea [(ngModel)]="producto" name="producto" class="form-control"
                                placeholder="Informe de IA" id="producto" rows="4"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="mas_comentarios">Mas Comentarios</label>
                            <textarea [(ngModel)]="mas_comentarios" name="mas_comentarios" class="form-control"
                                placeholder="Informe de IA" id="mas_comentarios" rows="4"></textarea>
                        </div>

                        <div class="image-box">
                            <img id="imagenForm" src="/Ods_img/ods1.png" alt="Descripción de la imagen" />
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedTab === 'metas'">
                <div class="mb-3">
                    <label>Seleccionar Meta</label>
                    <select [(ngModel)]="Metas" name="metas" class="form-control">
                        <option value="" disabled selected>Selecciona una Meta</option>
                        <option *ngFor="let item of MetasList" [ngValue]="item">{{ item.id }} - {{ item.descripcion }}
                        </option>
                    </select>
                </div>
                <button class="btn btn-info" type="button" (click)="anyadirMeta()">Añadir Meta</button>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="box" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px;">
                            <h4>Metas Añadidas:</h4>
                            <div class="image-box image-box-small" style="flex: 1;">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                                    <div *ngFor="let meta of metasSeleccionadas" class="col mb-3">
                                        <div class="box-meta"
                                            style="border: 1px solid #ddd; padding: 10px; border-radius: 8px; display: block;">
                                            <p style="margin: 0; font-weight: bold; color: #ddd;">{{ meta.descripcion }}
                                            </p>
                                            <small style="color: #ddd;">ODS: {{ meta.ods.nombre }} ({{
                                                meta.ods.dimension }})</small>
                                            <div class="text-end mt-2">
                                                <button type="button" class="btn btn-outline-danger btn-sm"
                                                    (click)="eliminarMeta(meta)" title="Eliminar">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel">Información de la Meta</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{ metaSeleccionada?.descripcion }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedTab === 'profesores'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Profesores</label>
                            <select [(ngModel)]="profesor.id" name="profe" class="form-control">
                                <option value="" disabled selected>Selecciona un ODS</option>
                                <option *ngFor="let item of ProfesoresList" [value]="item.id">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirProfesor()">Añadir Profesor</button>
                    </div>

                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Profesores Seleccionados</h5>
                            <ul>
                                <li *ngFor="let item of profesoresSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarProfesor(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'entidades'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Entidades</label>
                            <select [(ngModel)]="entidad.id" name="entidad" class="form-control">
                                <option value="" disabled selected>Selecciona un ODS</option>
                                <option *ngFor="let item of entidadesList" [value]="item.id">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirEntidad()">Añadir Profesor</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Contratantes Seleccionados</h5>
                            <ul>
                                <li *ngFor="let item of entidadesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarEntidad(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedTab === 'actividades'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Actividades</label>
                            <select [(ngModel)]="actividad" name="actividad" class="form-control">
                                <option value="" disabled selected>Selecciona una actividad</option>
                                <option *ngFor="let item of ActividadesList" [ngValue]="item">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirActividad()">Añadir
                            Actividad</button>
                    </div>

                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Actividades Seleccionadas</h5>
                            <ul>
                                <li *ngFor="let item of actividadesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarActividad(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info mt-2" type="button" id="buttonCrear" (click)="mostrarActividad()">Crear Una
                    Actividad Nueva</button>


                <div class="mb-4" id="crearActividad" hidden>
                    <label>Actividad Nueva</label>

                    <div class="d-flex">
                        <input name="redes_sociales_izq" type="text" id="nombreActividad" class="form-control me-2"
                            placeholder="Nombre de la Actividad" style="width: 45%;">
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'redes'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Redes Sociales</label>
                            <select [(ngModel)]="redes_sociales" name="redes_sociales" class="form-control">
                                <option value="" disabled selected>Selecciona una red Social</option>
                                <option *ngFor="let item of redes_socialesList" [ngValue]="item">
                                    - {{ item.nombre }} / {{ item.enlace }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirRedSocial()">Añadir Red
                            Social</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Redes Seleccionadas</h5>
                            <ul>
                                <li *ngFor="let item of redes_socialesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }} : {{ item.enlace }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarRedSocial(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info mt-2" type="button" id="buttonCrear" (click)="mostrarRedSocial()">Crear Una
                    Red Social Nueva</button>


                <div class="mb-4" id="crearRedSocial" hidden>
                    <label>Redes Sociales</label>

                    <div class="d-flex">
                        <input name="redes_sociales_izq" type="text" id="nombreLink" class="form-control me-2"
                            placeholder="Nombre de la red Social" style="width: 45%;">
                        <input name="redes_sociales_der" type="text" id="enlaceLink" class="form-control"
                            placeholder="Enlace" style="width: 55%;">
                    </div>
                    <button class="btn btn-info mt-2" type="button" (click)="ocultarRedSocial()">Ocultar</button>
                    <button class="btn btn-info mt-2 ms-2" type="button" (click)="crearLinks()">Añadir Red
                        Social</button>
                </div>
            </div>
            <div *ngIf="selectedTab === 'modulos'">
                <div class="mb-3">
                    <label>Seleccionar Modulos</label>
                    <select [(ngModel)]="modules" name="modules" class="form-control">
                        <option value="" disabled selected>Selecciona una Meta</option>
                        <option *ngFor="let item of cursoList" [ngValue]="item">{{ item.id }} - {{ item.nombre }}
                        </option>
                    </select>
                </div>
                <button class="btn btn-info" type="button" (click)="anyadirModulo()">Añadir Modulo</button>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="box" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px;">
                            <h4>Módulos Añadidos:</h4>
                            <div class="image-box image-box-small" style="flex: 1;">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

                                    <div *ngFor="let modulo of moduloSeleccionados" class="col mb-3">
                                        <div class="box-meta"
                                            style="border: 1px solid #ddd; padding: 10px; border-radius: 8px; display: block;">
                                            <p style="margin: 0; font-weight: bold;">{{ modulo.nombre }}</p>
                                            <small *ngIf="(modulo.clases ?? []).length > 0" style="color: #ddd;">
                                                clases:
                                                <ul style="padding-left: 20px; margin: 0;">
                                                    <li *ngFor="let clases of modulo.clases">{{ clases.nombre }}</li>
                                                </ul>
                                            </small>
                                            <div class="text-end mt-2">
                                                <button type="button" class="btn btn-outline-danger btn-sm"
                                                    (click)="eliminarModulo(modulo)" title="Eliminar">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
            <div *ngIf="toastVisible" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Mensaje</strong>
                    <small>Ahora</small>
                    <button type="button" class="btn-close" aria-label="Cerrar" (click)="toastVisible=false"></button>
                </div>
                <div class="toast-body">
                    La iniciativa ha sido actualizada con éxito.
                    <div class="progress mt-2">
                        <div class="progress-bar fill-progress" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Confirmación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas actualizar esta iniciativa?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-info" (click)="actualizarIniciativaConfirmada()"
                            data-bs-dismiss="modal">
                            Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-danger me-2" type="button" (click)="clearForm(form)"
                [disabled]="boton">Cancelar</button>
            <button class="btn btn-success" type="submit" (click)="confirmarActualizacion()"
                [disabled]="boton">Actualizar</button>
        </div>
    </div>
</form>