<form #form="ngForm" (ngSubmit)="guardarIniciativa(form)">
    <div class="row g-3 p-4">
        <!-- Columna para los inputs -->
        <app-navbar-form-crear (tabChange)="onTabChange($event)"></app-navbar-form-crear>
        <div class="mb-3">
            <label>Seleccionar Iniciativa</label>
            <select [(ngModel)]="iniciativa" name="iniciativa" class="form-control">
                <option value="" disabled selected>Selecciona una Iniciativa</option>
                <option *ngFor="let item of iniciativaList" [ngValue]="item">{{ item.id }} - {{ item.tipo }}
                </option>
            </select>
        </div>
        <div class="col-12">
            <div *ngIf="selectedTab === 'iniciativas'">
                <!-- Solo visible si 'Iniciativas' está seleccionado -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Tipo del Proyecto</label>
                            <input [(ngModel)]="titulo" name="titulo" type="text" class="form-control"
                                placeholder="Investigación sobre IA" id="tipo">
                        </div>
                        <div class="mb-3">
                            <label>Nombre del Proyecto</label>
                            <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control"
                                placeholder="IA en educación" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Inicio:</label>
                            <input [(ngModel)]="fechaInicio" name="fechaInicio" type="date" id="fecha"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Fin:</label>
                            <input [(ngModel)]="fechaFin" name="fechaFin" type="date" id="fecha" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="horas">Horas</label>
                            <input [(ngModel)]="horas" name="horas" type="number"
                                class="form-control form-control-sm w-auto" placeholder="Horas" id="horas" min="0"
                                step="1" max="999" />
                        </div>
                        <div class="mb-3">
                            <label>Imagen</label>
                            <input [(ngModel)]="imagen" name="imagen" type="text" class="form-control"
                                placeholder="IA en educación" id="imagen">
                        </div>
                        <button class="btn btn-info me-2" type="button" (click)="onImageChange()">Cargar Imagen</button>
                    </div>

                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="producto">Producto Final</label>
                            <textarea [(ngModel)]="producto" name="producto" class="form-control"
                                placeholder="Informe de IA" id="producto" rows="4"></textarea>
                        </div>
                        <div class="mb-4">
                            <label>Redes Sociales</label>
                            <input [(ngModel)]="redes_sociales" name="redes_sociales" type="text" class="form-control"
                                placeholder="IA en educación" id="imagen">
                        </div>
                        <div class="mb-3">
                            <label for="mas_comentarios">Mas Comentarios</label>
                            <textarea [(ngModel)]="mas_comentarios" name="mas_comentarios" class="form-control"
                                placeholder="Informe de IA" id="mas_comentarios" rows="4"></textarea>
                        </div>

                        <div class="image-box">
                            <img id="imagenForm" src="/Ods_img/ods1.png" alt="Descripción de la imagen" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- En tu formulario, agrega un select para elegir un ODS -->

            <!-- Segunda fila para mostrar el box con "Metas Añadidas" -->
            <div *ngIf="selectedTab === 'metas'">
                <div class="mb-3">
                    <label>Seleccionar Meta</label>
                    <select [(ngModel)]="Metas" name="metas" class="form-control">
                        <option value="" disabled selected>Selecciona una Meta</option>
                        <option *ngFor="let item of MetasList" [ngValue]="item">{{ item.id }} - {{ item.descripcion }}
                        </option>
                    </select>
                </div>
                <button class="btn btn-info" type="button" (click)="anyadirMeta()">Añadir Meta</button>
                <!-- Segunda fila para mostrar el box con "Metas Añadidas" -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="box" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px;">
                            <h4>Metas Añadidas:</h4>
                            <div class="image-box image-box-small" style="flex: 1;">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                                    <!-- Itera sobre metasSeleccionadas -->
                                    <div *ngFor="let meta of metasSeleccionadas" class="col mb-3">
                                        <div class="box-meta"
                                            style="border: 1px solid #ddd; padding: 10px; border-radius: 8px; display: block;">
                                            <!-- Descripción de la meta -->
                                            <p style="margin: 0; display: inline-block;">{{ meta.descripcion }}</p>

                                            <!-- Botones debajo de cada meta -->
                                            <div class="btn-group-vertical mt-2" role="group">
                                                <!-- Botón Info (azul) -->
                                                <button type="button" class="btn btn-info">
                                                    Info
                                                </button>

                                                <!-- Botón Eliminar (rojo) -->
                                                <button type="button" class="btn btn-danger"
                                                    (click)="eliminarMeta(meta)">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel">Información de la Meta</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Aquí se mostrará la descripción de la meta seleccionada -->
                                <p>{{ metaSeleccionada?.descripcion }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>




            <div *ngIf="selectedTab === 'profesores'">
                <div class="row">
                    <div class="col-md-6">

                        <!-- Select para elegir un ODS -->
                        <div class="mb-3">
                            <label>Seleccionar Profesores</label>
                            <select [(ngModel)]="profesor.id" name="profe" class="form-control">
                                <option value="" disabled selected>Selecciona un ODS</option>
                                <!-- Recorremos la lista de ODS y mostramos cada uno -->
                                <option *ngFor="let item of ProfesoresList" [value]="item.id">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>

                        <!-- Botón para agregar el ODS seleccionado -->
                        <button class="btn btn-info" type="button" (click)="anyadirProfesor()">Añadir Profesor</button>
                    </div>

                    <!-- Aquí es donde movemos la imagen box a la derecha -->
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Profesores Seleccionados</h5>
                            <ul>
                                <!-- Mostramos la lista de cursos seleccionados -->
                                <li *ngFor="let item of profesoresSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <!-- Botón de eliminar (X) -->
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarProfesor(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'entidades'">
                <div class="row">
                    <div class="col-md-6">

                        <!-- Select para elegir un ODS -->
                        <div class="mb-3">
                            <label>Seleccionar Entidades</label>
                            <select [(ngModel)]="entidad.id" name="entidad" class="form-control">
                                <option value="" disabled selected>Selecciona un ODS</option>
                                <!-- Recorremos la lista de ODS y mostramos cada uno -->
                                <option *ngFor="let item of entidadesList" [value]="item.id">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>

                        <!-- Botón para agregar el ODS seleccionado -->
                        <button class="btn btn-info" type="button" (click)="anyadirEntidad()">Añadir Profesor</button>
                    </div>

                    <!-- Aquí es donde movemos la imagen box a la derecha -->
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Profesores Seleccionados</h5>
                            <ul>
                                <!-- Mostramos la lista de cursos seleccionados -->
                                <li *ngFor="let item of entidadesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <!-- Botón de eliminar (X) -->
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarEntidad(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedTab === 'modulos'">
                <!-- Solo visible si 'Módulos' está seleccionado -->
                <div class="mb-3">
                    <label>Seleccionar Modulos</label>
                    <select [(ngModel)]="modules" name="modules" class="form-control">
                        <option value="" disabled selected>Selecciona una Meta</option>
                        <option *ngFor="let item of ModulosList" [ngValue]="item">{{ item.id }} - {{ item.nombre }} - {{item.clase.id}}
                        </option>
                    </select>
                </div>
                <button class="btn btn-info" type="button" (click)="anyadirMeta()">Añadir Meta</button>
            
                <!-- Fila para mostrar los Módulos Seleccionados -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="box" style="border: 1px solid #ddd; padding: 20px; border-radius: 8px;">
                            <h4>Módulos Añadidos:</h4>
                            <div class="image-box image-box-small" style="flex: 1;">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                                    <!-- Itera sobre módulosSeleccionados -->
                                    <div *ngFor="let modulo of moduloSeleccionados" class="col mb-3">
                                        <div class="box-meta" style="border: 1px solid #ddd; padding: 10px; border-radius: 8px; display: block;">
                                            <!-- Descripción del módulo -->
                                            <p style="margin: 0; display: inline-block;">{{ modulo.nombre }}</p>
            
                                            <!-- Botones debajo de cada módulo -->
                                            <div class="btn-group-vertical mt-2" role="group">
                                                <!-- Botón Info (azul) -->
                                                <button type="button" class="btn btn-info">
                                                    Info
                                                </button>
            
                                                <!-- Botón Eliminar (rojo) -->
                                                <button type="button" class="btn btn-danger" (click)="eliminarModulo(modulo)">
                                                    Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>




        <!--<div class="col-4 d-flex flex-column">
        <label>Iniciativa</label>
        <textarea class="form-control" placeholder="Todas las Iniciativas Ordenadas" rows="3" disabled></textarea>
        <button class="btn btn-danger mt-2">Borrar</button>
  
        <label>Modulos</label>
        <textarea class="form-control" placeholder="Todos los Modulos Ordenados" rows="3" disabled></textarea>
        <button class="btn btn-danger mt-2">Borrar</button>
  
        <label>Metas</label>
        <textarea class="form-control" placeholder="Todas las Metas Ordenadas" rows="3" disabled></textarea>
        <button class="btn btn-danger mt-2">Borrar</button>
      </div>
  
      <!-- Última fila con dos columnas 
      <div class="row mt-4">
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100%; padding-right: 0;">
          <label class="text-center mb-0">Producto final</label>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="height: 100%; padding-left: 0;">
          <textarea class="form-control text-center" rows="4" style="width: 100%;"></textarea>
        </div>
      </div> 
     Columna para los textarea "Todas las Metas Ordenadas" -->


        <!-- Botones de Crear y Cancelar -->
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-danger me-2" type="button" (click)="clearForm(form)">Cancelar</button>
            <button class="btn btn-success" type="submit">Crear</button>
        </div>
    </div>
</form>