<form #form="ngForm" (ngSubmit)="guardarIniciativa(form)">
    <div class="row g-3 p-4">
        <!-- Columna para los inputs -->
        <app-navbar-form-crear (tabChange)="onTabChange($event)"></app-navbar-form-crear>

        <div class="col-12">
            <div *ngIf="selectedTab === 'iniciativas'">
                <!-- Solo visible si 'Iniciativas' está seleccionado -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Nombre del Proyecto</label>
                            <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control"
                                placeholder="IA en educación" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Inicio:</label>
                            <input [(ngModel)]="fechaInicio" name="fechaInicio" type="date" id="fecha"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha Fin:</label>
                            <input [(ngModel)]="fechaFin" name="fechaFin" type="date" id="fecha" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="horas">Horas</label>
                            <input [(ngModel)]="horas" name="horas" type="number"
                                class="form-control form-control-sm w-auto" placeholder="Horas" id="horas" min="0"
                                step="1" max="999" />
                        </div>
                        <div class="mb-3">
                            <label>Imagen</label>
                            <input [(ngModel)]="imagen" name="imagen" type="text" class="form-control"
                                placeholder="IA en educación" id="imagen">
                        </div>
                        <button class="btn btn-info me-2" type="button" (click)="onImageChange()">Cargar Imagen</button>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="producto">Producto Final</label>
                            <textarea [(ngModel)]="producto" name="producto" class="form-control"
                                placeholder="Informe de IA" id="producto" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="mas_comentarios">Mas Comentarios</label>
                            <textarea [(ngModel)]="mas_comentarios" name="mas_comentarios" class="form-control"
                                placeholder="Informe de IA" id="mas_comentarios" rows="4"></textarea>
                        </div>

                        <div class="image-box">
                            <img id="imagenForm" src="/Ods_img/ods1.png" alt="Descripción de la imagen" />
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'metas'">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label>Seleccionar ODS</label>
                            <select [(ngModel)]="ods" name="ods" class="form-control"
                                (change)="cargarImagenODS(ods.nombre)" (change)="cargarMetasDeOds(ods.nombre)"
                                id="odsElegido">
                                <option value="" disabled selected>Seleccione un ODS</option>
                                <option *ngFor="let ods of odsList" [ngValue]="ods">{{ ods.nombre }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Seleccionar Meta</label>
                            <select [(ngModel)]="meta" name="meta" class="form-control"
                                (change)="cargarImagenODS(ods.nombre)" id="nombreMeta">
                                <option value="" disabled selected>Seleccione una Meta</option>
                                <option *ngFor="let metas of listMetasOds" [ngValue]="metas">{{ metas.descripcion }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info mt-3" type="button" (click)="anyadirMeta()">Añadir Meta</button>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                        <div *ngIf="ods" class="text-center">
                            <img src="/Ods_img/ods1.png" id="imagenOds" alt="Imagen ODS" class="img-fluid"
                                style="width: 200px; height: 200px; object-fit: cover; border-radius: 8px;">
                            <p id="dimensionText">Social</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-box">
                            <h5>Metas Seleccionadas</h5>
                            <ul>
                                <li *ngFor="let item of metasSeleccionadas; let i = index" class="mb-2">
                                    {{ item.descripcion }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4" (click)="eliminarMeta(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel">Información de la Meta</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{ metaSeleccionada?.descripcion }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'profesores'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Profesores</label>
                            <select [(ngModel)]="profesor" name="profesor" class="form-control">
                                <option value="" disabled selected>Selecciona un Profesor</option>
                                <!-- Recorremos la lista de ODS y mostramos cada uno -->
                                <option *ngFor="let item of ProfesoresList" [ngValue]="item">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirProfesor()">Añadir Profesor</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Profesores Seleccionados</h5>
                            <ul>
                                <!-- Mostramos la lista de cursos seleccionados -->
                                <li *ngFor="let item of profesoresSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <!-- Botón de eliminar (X) -->
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarProfesor(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'entidades'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Entidades</label>
                            <select [(ngModel)]="entidad.id" name="entidad" class="form-control">
                                <option value="" disabled selected>Selecciona un ODS</option>
                                <!-- Recorremos la lista de ODS y mostramos cada uno -->
                                <option *ngFor="let item of entidadesList" [value]="item.id">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirEntidad()">Añadir Entidad</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Profesores Seleccionados</h5>
                            <ul>
                                <li *ngFor="let item of entidadesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarEntidad(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'modulos'">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label>Seleccionar Modulo</label>
                                <select [(ngModel)]="modulo" name="modulo" id="nombreModulo" class="form-control">
                                    <option value="" disabled selected>Selecciona una clases</option>
                                    <option *ngFor="let item of ModulosList" [ngValue]="item">{{ item.nombre }}</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label>Seleccionar clasess</label>
                                <select [(ngModel)]="curso" name="curso" id="nombreclases" class="form-control">
                                    <option value="" disabled selected>Selecciona una clases</option>
                                    <option *ngFor="let item of cursoList" [ngValue]="item">{{ item.nombre }}</option>
                                </select>
                                <button class="btn btn-info mt-2" type="button" (click)="anyadirModulo()">Añadir
                                    Modulo</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="image-box">
                                <h5>clasess Seleccionadas</h5>
                                <ul>
                                    <li *ngFor="let item of moduloSeleccionados; let i = index" class="mb-2">
                                        {{ item.nombre }}
                                        <span *ngIf="item.clases.length > 0">
                                            (
                                            <span *ngFor="let clases of item.clases; let j = index">
                                                {{ clases.nombre }}
                                                <button type="button" class="btn btn-danger btn-sm ms-2"
                                                    (click)="eliminarclases(i, j)">
                                                    X
                                                </button>
                                                <span *ngIf="j < item.clases.length - 1"> / </span>
                                            </span>
                                            )
                                        </span>
                                        <button type="button" class="btn btn-danger btn-sm ms-4"
                                            (click)="eliminarModulo(i)">
                                            Eliminar Modulo
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'redes'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Redes Sociales</label>
                            <select [(ngModel)]="redes_sociales" name="redes_sociales" class="form-control">
                                <option value="" disabled selected>Selecciona una red Social</option>
                                <!-- Recorremos la lista de redes sociales y mostramos cada una -->
                                <option *ngFor="let item of redes_socialesList" [ngValue]="item">
                                    - {{ item.nombre }} / {{ item.enlace }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirRedSocial()">Añadir Red
                            Social</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Redes Seleccionadas</h5>
                            <ul>
                                <li *ngFor="let item of redes_socialesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }} : {{ item.enlace }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarRedSocial(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedTab === 'actividades'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Seleccionar Actividades</label>
                            <select [(ngModel)]="actividad" name="actividad" class="form-control">
                                <option value="" disabled selected>Selecciona una actividad</option>
                                <option *ngFor="let item of ActividadesList" [ngValue]="item">
                                    - {{ item.nombre }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-info" type="button" (click)="anyadirActividad()">Añadir
                            Actividad</button>
                    </div>
                    <div class="col-md-6">
                        <div class="image-box">
                            <h5>Actividades Seleccionadas</h5>
                            <ul>
                                <li *ngFor="let item of actividadesSeleccionados; let i = index" class="mb-2">
                                    {{ item.nombre }}
                                    <button type="button" class="btn btn-danger btn-sm ms-4"
                                        (click)="eliminarActividad(i)">
                                        X
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
            <div *ngIf="toastVisible" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Mensaje</strong>
                    <small>Ahora</small>
                    <button type="button" class="btn-close" aria-label="Cerrar" (click)="toastVisible=false"></button>
                </div>
                <div class="toast-body">
                    La iniciativa ha sido creada con éxito.
                    <div class="progress mt-2">
                        <div class="progress-bar fill-progress" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-danger me-2" type="button" (click)="clearForm(form)"
                [disabled]="boton">Cancelar</button>
            <button class="btn btn-success" type="submit" [disabled]="boton">Crear</button>
        </div>
    </div>
</form>