@keyframes fillProgress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  .fill-progress {
    animation: fillProgress 3s linear forwards;
  }

  .bg-blur {
  background: rgba(50, 50, 50, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1055;
}

.list-group-item {
  cursor: pointer;

  &.active {
    background-color: #0d6efd;
    color: white;
  }
}

.iniciativa-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  

  li {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba(255, 72, 72, 0.08);

      .delete-btn {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.selected {
      background-color: rgba(253, 13, 13, 0.2);
      border-left: 4px solid #fd0d29;
    }

    .nombre {
      flex: 0 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .delete-btn {
      background: transparent;
      border: none;
      color: #ff6b6b;
      font-size: 1rem;
      margin-left: 12px;
      cursor: pointer;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #ff4c4c;
      }
    }
  }
}

.modal-backdrop {
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal {
  z-index: 1100 !important;
  position: fixed !important;
}
