<!-- Spinner de cargado -->
<div *ngIf="loading" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
</div>

<!-- Formulario para seleccionar la iniciativa -->
<form #form="ngForm">
    <div class="row g-3 p-4">
      <div class="mb-3">
        <label>Seleccionar Meta</label>
        <select [(ngModel)]="iniciativa" name="iniciativa" class="form-control" id="iniciativaSelected">
          <option value="" disabled selected>Selecciona una Meta</option>
          <option *ngFor="let item of iniciativasList" [ngValue]="item">
            {{ item.id }} - {{ item.tipo }}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3 mb-4">
      <!-- Se llama al método que abre el modal -->
      <button class="btn btn-danger" type="button" (click)="confirmarEliminacion()">Eliminar Iniciativa</button>
    </div>
  </form>
  
  <!-- Toast de éxito en la esquina superior derecha -->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <div *ngIf="toastVisible" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Mensaje</strong>
        <small>Ahora</small>
        <button type="button" class="btn-close" aria-label="Cerrar" (click)="toastVisible=false"></button>
      </div>
      <div class="toast-body">
        La iniciativa ha sido eliminada con éxito.
        <!-- Progress bar animada -->
        <div class="progress mt-2">
          <div class="progress-bar fill-progress" role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal de Confirmación -->
  <div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar esta iniciativa?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarIniciativaConfirmada()" data-bs-dismiss="modal">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  